.videoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../public/assets/images/backgroundBlue.jpg");
    background-repeat: repeat-x;
    background-size: 50.2%;
    width: 124%;
    height: 65%;
    position: relative;
    right: 12%;
    margin-top: 7%;
}
.videoPlayer{
    width: 43%;
    position: relative;
    bottom: 100px;
    border-radius: 16px;
}
.playAndStopTechBreath{
    max-width: 100%;
    height: auto; 
    padding-top: 20px;
    position: relative;
    bottom: 23%;
    cursor: pointer;
}
.title{
    cursor: pointer;
}