.form-container { 
    width: 40%;
    margin-top: 100px;
    height: auto;
}


#flower {
    width: 200px;
    height: 200px;
    position: fixed;
    bottom: 0;

}

.haveaccount {
    width: 60%;
    margin-top: 100px;
    padding-left: 100px;
    
}

.haveaccount label { 
    align-items: center;
}

.haveaccount input {
    width: 50%;
}

.login-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.button{
    width: 50%;
    position: relative;
    left: 33%;
}


@media only screen and (max-width: 600px) {
    .form-container { 
        width: 100%;
        display: flex;
        flex-direction: column;
        /* margin-top: 100px; */
        margin: 10px;
        height: auto;
    }
    
    
    #flower {
        display: none;
    
    }
    
    .haveaccount {
        width: 60%;
        margin-top: 0;
        padding-left: 0;
        
    }
    
    .haveaccount label { 
        align-items: center;
    }
    
    .haveaccount input {
        width: 50%;
    }
    
    .login-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button{
        align-items: center;
        display: flex;
        align-content: center;
        /* width: 50%; */
        /* position: relative; */
        /* left: 33%; */
    }

    .login-registration {
        display: flex;
        flex-direction: column;
    }
    
    #registration-btn {
        width: 100%;
        padding: 10%;
    }
    
  }
