.title h3 {
    font-size: 30px;
}

.title img{
    width: 4%;
}

.mentalCondition{
    display: flex;
    justify-content: space-between;
}

.mentalConditionImage{
    display: flex;
    border-radius: 20px;
    width: 30%;
    height: 30%;
}
.mentalConditionInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 67%;
    font-size: 16.7px;
}
@media only screen and (max-width: 600px) {
    .mentalCondition {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .mentalConditionImage{
        width: 100%;
    }
    .mentalConditionInfo{
        font-size: 20px;
        width: 100%;
        text-align: justify;
    }
    .title img{
        width: 10% !important;
    }
  }