.profileContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .profileContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 0%;
    }
    
}