.title h3 {
    font-size: 30px;
}

.title img{
    width: 4% !important;
}

.breathingCondition{
    display: flex;
    justify-content: space-between;
}

.breathingConditionImage{
    display: flex;
    border-radius: 20px;
    width: 30%;
    height: 30%;
}
.breathingConditionInfo{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 67%;
    font-size: 18px !important;
}
@media only screen and (max-width: 600px) {
    .breathingCondition {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .breathingConditionImage{
        width: 100%;
    }
    .breathingConditionInfo{
        font-size: 15px !important;
        width: 100%;
        text-align: justify;
    }
    .title img{
        width: 10% !important;
    }
  }