.container {
    width: 100%;
    height: 80%;
  }
  
.mainMoodCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 10px;
  flex-wrap: nowrap;
}

.bigLine{
  border: 3px solid #DD1E85;
  width: 35%;
  position: relative;
  left: 32%;
  bottom: 50px;
}